@tailwind base;
@tailwind components;
@tailwind utilities;

.main-logo {
  width: 180px;
}

.main-logo::after {
  content: '';
  display: block;
  padding-bottom: calc(40 * 100%/180);
}

.bg-social {
  background-color: rgba(255, 255, 255, 0.3);
}

.bg-fb:hover {
  background-color: #365899;
}

.bg-tw:hover {
  background-color: #00acee;
}

.bg-lki:hover {
  background-color: #0072b1;
}