.form-search {
  position: relative;
  width: 300px;
  height: 35px;
}

.form-search input {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  outline: none;
  color: #444;
  font-size: 1rem;
  padding-right: 35px;
  transition: border-color 0.25s;
}

.form-search input:focus {
  border-color: #e36c0a;
}

.form-search input::placeholder {
  font-size: 0.9rem;
}

.form-search button {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  color: #ccc;
  transition: all 0.25s;
}

.form-search button:hover {
  color: #444;
  background-color: #eee;
}